<h2>Students List</h2>

<ul>
{% for student in students %}
    <li>{{ student.student_name }} <&nbsp;{{ student.student_email }}&nbsp;> - {{ student.department }}
        </li>
{% endfor %}
    </ul>
